# Analyse data with Python Pandas

Welcome to this Jupyter Notebook! 
  
Today you'll learn how to import a CSV file into a Jupyter Notebook, and how to clean up messy data. This notebook is part of the course Python for Journalists at [Learno.net](learno.net). The data used originally comes from [the Electoral Commission website](http://search.electoralcommission.org.uk/Search?currentPage=1&rows=10&sort=AcceptedDate&order=desc&tab=1&open=filter&et=pp&isIrishSourceYes=false&isIrishSourceNo=false&date=Reported&from=&to=&quarters=2018Q12&rptPd=3617&prePoll=false&postPoll=false&donorStatus=individual&donorStatus=tradeunion&donorStatus=company&donorStatus=unincorporatedassociation&donorStatus=publicfund&donorStatus=other&donorStatus=registeredpoliticalparty&donorStatus=friendlysociety&donorStatus=trust&donorStatus=limitedliabilitypartnership&donorStatus=impermissibledonor&donorStatus=na&donorStatus=unidentifiabledonor&donorStatus=buildingsociety&register=ni&register=gb&optCols=Register&optCols=IsIrishSource&optCols=ReportingPeriodName), but is edited for training purposes. The edited dataset is available on the Learno website. 

## About Jupyter Notebooks and Pandas

Right now you're looking at a Jupyter Notebook: an interactive, browser based programming environment. You can use these notebooks to program in R, Julia or Python - as you'll be doing later on. Read more about Jupyter Notebook in the [Jupyter Notebook Quick Start Guide](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/what_is_jupyter.html). 
  
To clean up our data, we'll be using Python and Pandas. Pandas is an open-source Python library - basically an extra toolkit to go with Python - that is designed for data analysis. Pandas is flexible, easy to use and has lots of useful functions built right in. Read more about Pandas and its features in [the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/).

**Notebook shortcuts**  

Within Jupyter Notebooks, there are some shortcuts you can use. If you'll be using more notebooks for your data analysis in the future, you'll remember these shortcuts soon enough. :) 

* `esc` will take you into command mode
* `a` will insert cell above
* `b` will insert cell below
* `shift then tab` will show you the documentation for your code
* `shift and enter` will run your cell
* ` d d` will delete a cell

**Pandas dictionary**

* **dataframe**: dataframe is Pandas speak for a table with a labeled y-axis, also known as an index. (The index usually starts at 0.)
* **series**: a series is a list, a series can be made of a single column within a dataframe.

Before we dive in, a little more about Jupyter Notebooks. Every notebooks is made out of cells. A cell can either contain Markdown text - like this one - or code. In the latter you can execute your code. To see what that means, type the following command in the next cell `print("hello world")`.

In [1]:
print('Welcome!')

Welcome!

## Getting started

In the module 'Clean data' from this course, we cleaned up a dataset with donations to political parties in the UK. Now, we're going to analyse the data in that dataset. Let's start by importing the Pandas library, using `import pandas as pd`.

In [2]:
import pandas as pd

Now, import the cleaned dataset, use `df = pd.read_csv('/path/to/file_with_clean_data.csv')`.

## Importing data

In [3]:
df = pd.read_csv('results_clean.csv')

Let's see if the data is anything like you'd expect, use `df.head()`, `df.tail()` or `df.sample()`.

In [4]:
df.head(10)

,Unnamed: 0,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
0,0,Plaid Cymru - The Party of Wales,2018-12-19,Mr Alun Ffred Jones,Individual,2018,12,20000.0,Political Party,83318,NaN
1,1,Liberal Democrats,2017-12-31,Ms Kirsten Bayes,Individual,2017,12,1800.0,Political Party,43033,NaN
2,2,Liberal Democrats,2017-12-31,Mr Steve Webb,Individual,2017,12,3000.0,Political Party,35400,NaN
3,3,Liberal Democrats,2017-12-31,Mr Tim Farron,Individual,2017,12,1560.0,Political Party,76661,NaN
4,4,Liberal Democrats,2017-12-31,Mr Duncan Greenland,Individual,2017,12,7750.0,Political Party,35403,NaN
5,5,Liberal Democrats,2017-12-31,Mr Michael Lees,Individual,2017,12,1800.0,Political Party,76645,NaN
6,6,Liberal Democrats,2017-12-31,Ms Jane Mactaggart,Individual,2017,12,1838.0,Political Party,47793,NaN
7,7,Liberal Democrats,2017-12-31,Mr Jeremy Hilton,Individual,2017,12,1779.0,Political Party,83347,NaN
8,8,Liberal Democrats,2017-12-31,Baroness Kathryn Parminter,Individual,2017,12,2400.0,Political Party,37433,NaN
9,9,Liberal Democrats,2017-12-31,Lady Catherine Bakewell,Individual,2017,12,1560.0,Political Party,50620,NaN

Whoops! When we saved the data after cleaning it, the index was saved in an unnamed column. With importing, Pandas added a new index... Let's get rid of the 'Unnamed: 0' column. Drop it like it's hot... `df = df.drop('Unnamed: 0', 1)`.

In [5]:
df = df.drop('Unnamed: 0', 1)

Let's see if this worked, use `df.head()`, `df.tail()` or `df.sample()`.

In [7]:
df.sample(9)

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
81,Scottish National Party (SNP),2017-12-31,Mr John Mason,Individual,2017,12,3160.00,Political Party,45126,NaN
204,Liberal Democrats,2017-11-15,Mr Anthony Harris,Individual,2017,11,5080.00,Political Party,54432,NaN
90,Liberal Democrats,2017-12-31,Mrs Marlene Heron,Individual,2017,12,1720.00,Political Party,54404,NaN
100,Liberal Democrats,2017-12-31,Mr Gerald Vernon-Jackson,Individual,2017,12,2290.68,Political Party,34481,NaN
248,Conservative and Unionist Party,2017-10-11,Ms Lesley Jackson,Individual,2017,10,100000.00,Political Party,38745,NaN
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.00,Political Party,83882,NaN
104,Liberal Democrats,2017-12-29,Ms Joanna Kenny,Individual,2017,12,1200.00,Political Party,47811,NaN
206,Conservative and Unionist Party,2017-11-15,Mr Zac F Goldsmith,Individual,2017,11,5000.00,Political Party,69726,NaN
134,Conservative and Unionist Party,2017-12-14,Mr Nicholas Brougham,Individual,2017,12,2499.00,Political Party,83060,NaN

Now, if this looks better, let's get started and analyse some data.

# Analyse data

## Statistical summary

In the module Clean data, you already saw the power of `df.describe()`. This function gives a basic statistical summary of every column in the dataset. It will give you even more information when you tell the function that you want everything included, like this: `df.describe(include='all')`

In [10]:
df.describe(include='all')

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
count,300,300,300,300,300.000000,300.000000,300.000000,300,300.000000,0.0
unique,11,91,247,1,NaN,NaN,NaN,1,NaN,NaN
top,Liberal Democrats,2017-12-31,Ms Jane Mactaggart,Individual,NaN,NaN,NaN,Political Party,NaN,NaN
freq,124,101,9,300,NaN,NaN,NaN,300,NaN,NaN
mean,NaN,NaN,NaN,NaN,2017.003333,10.623333,10488.400400,NaN,65556.336667,NaN
std,NaN,NaN,NaN,NaN,0.057735,2.544873,32153.305738,NaN,19466.692599,NaN
min,NaN,NaN,NaN,NaN,2017.000000,1.000000,600.000000,NaN,19152.000000,NaN
25%,NaN,NaN,NaN,NaN,2017.000000,10.000000,1800.000000,NaN,47058.000000,NaN
50%,NaN,NaN,NaN,NaN,2017.000000,12.000000,2500.000000,NaN,76334.000000,NaN
75%,NaN,NaN,NaN,NaN,2017.000000,12.000000,8124.000000,NaN,83335.500000,NaN
max,NaN,NaN,NaN,NaN,2018.000000,12.000000,400000.000000,NaN,84031.000000,NaN

For columns with numeric values, `df.describe()` will give back the most information, here's a full list of the parameters and their meaning: 

**df.describe() parameters**
* **count**: number of values in that column
* **unique**: number of unique values in that column
* **top**: first value in that column
* **freq**: the most common value’s frequency
* **mean**: average
* **std**: standard deviation
* **min**: minimum value, lowest value in the column
* **25%**: first percentile
* **50%**: second percentile, this is the same as the median
* **75%**: thirth percentile
* **max**: maximum value, highest value in the column

If a column does not contain numeric value, only those parameters that are applicable are returned. Python gives you NaN-values when that's the case - NaN is short for Not a Number. 

Notice that 'count' is 300 for every column. This means that every column has a value for every row in the dataset. How do I know? I looked at the total number of rows, using `df.shape`.

In [9]:
df.shape

(300, 10)

## Filter

Let's try to filter the dataframe based on the value in the Value column. You can do this using `df[df['Value'] > 10000 ]`. This will give you a dataframe with only donations from 10.000 pound or more.

In [11]:
df.sample()

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
275,UK Independence Party (UKIP),2017-05-30,Mr Malcolm Bluemel,Individual,2017,5,1000.0,Political Party,83323,NaN

In [13]:
df[df['Value'] > 100000]

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
128,Conservative and Unionist Party,2017-12-14,Lord Stanley Fink,Individual,2017,12,111600.0,Political Party,47072,NaN
137,Conservative and Unionist Party,2017-12-14,Mr Michael Davis,Individual,2017,12,271000.0,Political Party,34240,NaN
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.0,Political Party,83882,NaN
257,Scottish National Party (SNP),2017-10-06,Mr Ian McNish,Individual,2017,10,175000.0,Political Party,78128,NaN

In [22]:
df[df['Value'] < 601]

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
151,Green Party,2017-12-07,Ms Jean Lambert MEP,Individual,2017,12,600.0,Political Party,34382,NaN
216,Green Party,2017-11-05,Ms Jean Lambert MEP,Individual,2017,11,600.0,Political Party,34382,NaN
237,Green Party,2017-10-22,Ms Jean Lambert MEP,Individual,2017,10,600.0,Political Party,34382,NaN
241,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN
242,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN

## Sort
Let's try to sort the data. Using the command `df.sort_values(by='column_name')` will sort the dataframe based on the column of your choosing. Sorting by default happens ascending, from small to big. 

In case you want to see the sorting from big to small, descending, you'll have to type: `df.sort_values(by='column_name', ascending=False)`.

Now, let's try to sort the dataframe based on the number in the Value column it's easy to find out who made the biggest donation. 

The above commands will sort the dataframe by a column, but - since we never asked our notebook to - won't show the data. To sort the data and show us the new order of the top 10, we'll have to combine the command with `.head(10)` like this: `df.sort_values(by='column_name').head(10)`.

Now, what would you type if you want to see the 10 smallest donations?

In [24]:
df.sort_values(by='Value')

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
216,Green Party,2017-11-05,Ms Jean Lambert MEP,Individual,2017,11,600.00,Political Party,34382,NaN
151,Green Party,2017-12-07,Ms Jean Lambert MEP,Individual,2017,12,600.00,Political Party,34382,NaN
242,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.00,Political Party,76334,NaN
241,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.00,Political Party,76334,NaN
237,Green Party,2017-10-22,Ms Jean Lambert MEP,Individual,2017,10,600.00,Political Party,34382,NaN
290,UK Independence Party (UKIP),2017-03-31,Mr Duncan Greenland,Individual,2017,3,650.00,Political Party,83324,NaN
268,UK Independence Party (UKIP),2017-06-30,Mr Brett Hammond,Individual,2017,6,650.00,Political Party,83324,NaN
23,UK Independence Party (UKIP),2017-12-31,Mr Brett Hammond,Individual,2017,12,650.00,Political Party,83324,NaN
144,Labour Party,2017-12-11,Lord Charles Falconer of Thoroton,Individual,2017,12,833.00,Political Party,83993,NaN
191,Labour Party,2017-11-21,Lord Charles Falconer of Thoroton,Individual,2017,11,833.00,Political Party,83993,NaN
211,Labour Party,2017-11-13,Lord Charles Falconer of Thoroton,Individual,2017,11,833.00,Political Party,83993,NaN
195,Labour Party,2017-11-21,Lord Charles Falconer of Thoroton,Individual,2017,11,833.00,Political Party,83993,NaN
258,Labour Party,2017-10-05,Lord Charles Falconer of Thoroton,Individual,2017,10,833.00,Political Party,83993,NaN
66,Liberal Democrats,2017-12-31,Ms Joanna Kenny,Individual,2017,12,866.25,Political Party,47811,NaN
132,Conservative and Unionist Party,2017-12-14,Mr Dominic R Johnson,Individual,2017,12,900.00,Political Party,77944,NaN
161,Green Party,2017-12-04,Ms Elizabeth Reason,Individual,2017,12,1000.00,Political Party,77455,NaN
264,UK Independence Party (UKIP),2017-08-18,Mr Ian Pirie,Individual,2017,8,1000.00,Political Party,74686,NaN
298,UK Independence Party (UKIP),2017-01-12,Mr Malcolm Bluemel,Individual,2017,1,1000.00,Political Party,83323,NaN
223,Conservative and Unionist Party,2017-10-31,Mr Laurence Hollingworth,Individual,2017,10,1000.00,Political Party,67568,NaN
286,Labour Party,2017-04-24,Mr John O'Hara,Individual,2017,4,1000.00,Political Party,83996,NaN
214,Conservative and Unionist Party,2017-11-07,Mr Michael Davis,Individual,2017,11,1000.00,Political Party,34240,NaN
293,UK Independence Party (UKIP),2017-02-08,Lord D Stevens of Ludgate,Individual,2017,2,1000.00,Political Party,48879,NaN
295,UK Independence Party (UKIP),2017-01-26,Mr Duncan Greenland,Individual,2017,1,1000.00,Political Party,83323,NaN
275,UK Independence Party (UKIP),2017-05-30,Mr Malcolm Bluemel,Individual,2017,5,1000.00,Political Party,83323,NaN
299,Labour Party,2017-01-10,Mr Duncan Greenland,Individual,2017,1,1000.00,Political Party,83996,NaN
297,UK Independence Party (UKIP),2017-01-13,Mr Duncan Greenland,Individual,2017,1,1000.00,Political Party,74686,NaN
104,Liberal Democrats,2017-12-29,Ms Joanna Kenny,Individual,2017,12,1200.00,Political Party,47811,NaN
240,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,1200.00,Political Party,76334,NaN
272,Liberal Democrats,2017-06-05,Mr Mark Petterson,Individual,2017,6,1500.00,Political Party,55995,NaN
278,Labour Party,2017-05-22,Lord Charles Falconer of Thoroton,Individual,2017,5,1500.00,Political Party,83993,NaN
...,...,...,...,...,...,...,...,...,...,...
249,UK Independence Party (UKIP),2017-10-09,Mr Andrew Perloff,Individual,2017,10,20000.00,Political Party,46042,NaN
0,Plaid Cymru - The Party of Wales,2018-12-19,Mr Alun Ffred Jones,Individual,2018,12,20000.00,Political Party,83318,NaN
212,Liberal Democrats,2017-11-12,William Goodhart,Individual,2017,11,20000.00,Political Party,34527,NaN
121,Liberal Democrats,2017-12-15,Mrs Gitte Dawson,Individual,2017,12,20000.00,Political Party,35363,NaN
255,Conservative and Unionist Party,2017-10-09,Mr Robert D Calrow,Individual,2017,10,21000.00,Political Party,38757,NaN
169,Labour Party,2017-12-01,Lord John Crawford,Individual,2017,12,22000.00,Political Party,83992,NaN
115,Liberal Democrats,2017-12-21,Mr Robert Chicken,Individual,2017,12,22466.38,Political Party,83339,NaN
269,Liberal Democrats,2017-06-30,Ms Jane Mactaggart,Individual,2017,6,23000.00,Political Party,55988,NaN
236,Conservative and Unionist Party,2017-10-23,Mr William H Salomon,Individual,2017,10,25000.00,Political Party,36405,NaN
140,Liberal Democrats,2017-12-13,Mr Mark Petterson,Individual,2017,12,25000.00,Political Party,55995,NaN
138,Conservative and Unionist Party,2017-12-13,Mr Michael J Wade,Individual,2017,12,25000.00,Political Party,47059,NaN
215,Labour Party,2017-11-06,Mr William Haughey,Individual,2017,11,30000.00,Political Party,37529,NaN
227,Conservative and Unionist Party,2017-10-30,Mrs Esme Forbes,Individual,2017,10,38295.29,Political Party,76306,NaN
260,Plaid Cymru - The Party of Wales,2017-10-02,Mr David Charles Williams,Individual,2017,10,40357.67,Political Party,83316,NaN
150,Scottish National Party (SNP),2017-12-07,Mr Ian McNish,Individual,2017,12,42732.63,Political Party,78128,NaN
162,Conservative and Unionist Party,2017-12-04,Mr Malcolm Bluemel,Individual,2017,12,50000.00,Political Party,72651,NaN
252,Conservative and Unionist Party,2017-10-09,Mr Roger Nagioff,Individual,2017,10,50000.00,Political Party,36392,NaN
232,Conservative and Unionist Party,2017-10-25,Mr James R Lupton,Individual,2017,10,50000.00,Political Party,34266,NaN
124,Conservative and Unionist Party,2017-12-15,Mr Edmund G Truell,Individual,2017,12,50000.00,Political Party,34290,NaN
251,Conservative and Unionist Party,2017-10-09,Mr Peter Kane,Individual,2017,10,50000.00,Political Party,34257,NaN
219,Conservative and Unionist Party,2017-11-01,Mr Oluwole Kolade,Individual,2017,11,52500.00,Political Party,38762,NaN
254,Conservative and Unionist Party,2017-10-09,Mr Michael A Dangoor,Individual,2017,10,56600.00,Political Party,83834,NaN
202,Conservative and Unionist Party,2017-11-16,Mrs Mary Erbrich,Individual,2017,11,60000.00,Political Party,76714,NaN
200,Plaid Cymru - The Party of Wales,2017-11-17,Ms Jane Mactaggart,Individual,2017,11,61473.89,Political Party,83317,NaN
248,Conservative and Unionist Party,2017-10-11,Ms Lesley Jackson,Individual,2017,10,100000.00,Political Party,38745,NaN
238,Conservative and Unionist Party,2017-10-19,Mr Ian R Taylor,Individual,2017,10,100000.00,Political Party,76312,NaN
128,Conservative and Unionist Party,2017-12-14,Lord Stanley Fink,Individual,2017,12,111600.00,Political Party,47072,NaN
257,Scottish National Party (SNP),2017-10-06,Mr Ian McNish,Individual,2017,10,175000.00,Political Party,78128,NaN
137,Conservative and Unionist Party,2017-12-14,Mr Michael Davis,Individual,2017,12,271000.00,Political Party,34240,NaN
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.00,Political Party,83882,NaN

If you want to see the biggest donations made, use `df.sort_values(by='Value', ascending=False).head(10)`. This will sort the dataframe based on the Value column from big to small.

In [26]:
df.sort_values(by='Value', ascending=False).head(10)

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.00,Political Party,83882,NaN
137,Conservative and Unionist Party,2017-12-14,Mr Michael Davis,Individual,2017,12,271000.00,Political Party,34240,NaN
257,Scottish National Party (SNP),2017-10-06,Mr Ian McNish,Individual,2017,10,175000.00,Political Party,78128,NaN
128,Conservative and Unionist Party,2017-12-14,Lord Stanley Fink,Individual,2017,12,111600.00,Political Party,47072,NaN
248,Conservative and Unionist Party,2017-10-11,Ms Lesley Jackson,Individual,2017,10,100000.00,Political Party,38745,NaN
238,Conservative and Unionist Party,2017-10-19,Mr Ian R Taylor,Individual,2017,10,100000.00,Political Party,76312,NaN
200,Plaid Cymru - The Party of Wales,2017-11-17,Ms Jane Mactaggart,Individual,2017,11,61473.89,Political Party,83317,NaN
202,Conservative and Unionist Party,2017-11-16,Mrs Mary Erbrich,Individual,2017,11,60000.00,Political Party,76714,NaN
254,Conservative and Unionist Party,2017-10-09,Mr Michael A Dangoor,Individual,2017,10,56600.00,Political Party,83834,NaN
219,Conservative and Unionist Party,2017-11-01,Mr Oluwole Kolade,Individual,2017,11,52500.00,Political Party,38762,NaN

## Sum

Wow! There are some big donations in our dataset. If you want to know how much money was donated in total, you need to get the sum of the column Value. Use `df['Value'].sum()`.

In [27]:
df['Value'].sum()

3146520.12

## Count

Let's look at the receivers of all this donation money. Use `df['RegulatedEntityName'].count()` to count the number of times a regulated entity received a donation.

In [29]:
df['RegulatedEntityName'].count()

300

Not really what we were looking for, right? Using `.count()` gives you the number of values in a column. Not the number of appearances per unique value in the column. 

You'll need to use `df['RegulatedEntityName'].value_counts()` if you want to know that...

In [35]:
df['RegulatedEntityName'].count()

300

Ok. Let's see if you really understand the difference between `.value_counts()` and `.count()` If you want to know how many donors have donated, you should count the values in the DonorName column. Do you use `df['DonorName'].value_counts()` or `df['DonorName'].count()`?

When in doubt, try both. Remember: we're using a Jupyter Notebook here. It's a **Notebook**, so you can't go wrong here. :)

In [36]:
df['DonorName'].count()

300

In [32]:
df['DonorName'].value_counts()

Ms Jane Mactaggart                   9
Mr Duncan Greenland                  8
Lord Charles Falconer of Thoroton    6
Mr Malcolm Bluemel                   5
Mr Mark  Petterson                   4
Lord D Stevens of Ludgate            3
Mr Dominic R Johnson                 3
Mr Ian Pirie                         3
Scirard Lancelyn Green               3
Ms Jean Lambert MEP                  3
Professor Tim Congdon                3
Mr Stephen Kinsella                  2
Mr Terence F Parkinson               2
Mr Michael Davis                     2
Mr James R Lupton                    2
Mr David Brown                       2
Mr Jeremy J Lefroy                   2
Mr Brett Hammond                     2
Mr Henry Keswick                     2
Mr Ian McNish                        2
Mr Richard Christopher Breen         2
Ms Anne  Winstanley                  2
Ms Karin Snowden                     2
Ms Joanna  Kenny                     2
Ms Rachel H MacLean                  2
Mrs Esme Forbes                      1
Dr Alun  Griffiths                   1
Mr Roger J Kendrick                  1
Mr Roger Nagioff                     1
Mr Tony Belton                       1
                                    ..
Hon George T Farmer                  1
Mr Ian H Leslie-Melville             1
Cllr Ian Shires                      1
Mr David Tutt                        1
Mrs Elizabeth Barraclough            1
Mr Andrew Dearg Wightman             1
Mr Alan  T Wicnh                     1
Mr Vincent Cable                     1
Ms Elizabeth Reason                  1
Mr Martin Elengorn                   1
Mr Andrew  Waller                    1
Mr Albert Mcintosh                   1
Mr Arthur Hookway                    1
Mr Alexey  Chudnovskiy               1
Mr Neville A Baxter                  1
Mr Peter Brown                       1
Ms Dora Bertolutti                   1
Mr David E D Brownlow                1
Mr Zac F Goldsmith                   1
Mr Greg  Dyke                        1
Mr Michael S Thronton OBE            1
Lord Paul  Strasburger               1
Mr John Hale                         1
Mr Philip  L Wroughton               1
Mr Nicholas N Moore                  1
Mr John D Booth                      1
Mr Robert Chicken                    1
Mr Daniel D Laycock                  1
Mr Iain Aitken                       1
Mr Navroz D Udwadia                  1
Name: DonorName, Length: 247, dtype: int64

Interesting: apparently Ms Jane Mactaggart, Mr Duncan Greenland, and Lord Charles Falconer of Thoroton have donated most often. Let's look into that...

## Groupby
If you're familiar with Excel, you probably heard of 'pivot tables'. Python Pandas has a function very similar to those pivot tables. 

Let's start with a small refresher: pivot tables are summaries of a dataset inside a new table. Huh? That's might be a lot to take in. 

Look at our example: data on donations to political parties in the UK. If we want to know how much each unique donor donated, we are looking for a specific summary of our dataset. To get the anwer to this question: 'How much have Ms Jane Mactaggart, Mr Duncan Greenland, and Lord Charles Falconer of Thoroton donated in total?' We need Pandas to sum up all donation for every donor in the dataframe. In a way, this is a summary of the original dataframe by grouping values by in this case the column DonorName. 

Using Python this can be done using the group by function. Let's create a new dataframe called donors, that has all donors and the total sum of their donations in there. Use `donors = df.groupby('DonorName')['Value'].sum()`. This is a combination of several functions: group data by 'DonorName', and sum the data in the 'Value' column...

In [43]:
donors = df.groupby('DonorName')['Value'].sum()
donors

DonorName
Baroness Barbara Janke                 1600.00
Baroness Emma Nicholson                2499.99
Baroness Kathryn Parminter             2400.00
Baroness Shirley Williams              1700.00
Christopher Williams                   1506.37
Clive Hollick                         20000.00
Cllr Ian Shires                        1920.00
Cllr Joe Harris                        1557.25
Dr Alun  Griffiths                     1800.00
Dr Arujuna Sivananthan                 2499.00
Dr Robert Barr                         1680.00
Hon George T Farmer                    8500.00
Lady Catherine Bakewell                1560.00
Lady Sarah L Keswick                  12500.00
Lord Charles Falconer of Thoroton      5665.00
Lord D Stevens of Ludgate             10000.00
Lord John Alderdice                    2400.00
Lord John Crawford                    22000.00
Lord John Lee Of Trafford              2400.00
Lord Nigel D Jones of Cheltenham       1850.00
Lord Paul  Strasburger                 1600.00
Lord Paul Tyler                        2400.00
Lord Philip Harris                    10000.00
Lord Richard Allan Of Hallam           2100.00
Lord Stanley Fink                    111600.00
Lord Tim Clement-Jones                 2200.00
Mike Penning                           1510.00
Miss Jocelyn Clark                     1594.00
Mr A Serge Lourie                      3620.00
Mr Abdul-Majid Jafar                  12500.00
                                       ...
Ms Anne  Winstanley                    4000.00
Ms Christine E Dawood                 12500.00
Ms Dora Bertolutti                     2400.00
Ms Elizabeth Reason                    1000.00
Ms Gail  Engert                        1695.00
Ms Helen Clucas                        1908.00
Ms Inga Lockington                     1950.00
Ms Jane Mactaggart                   108809.89
Ms Jane Turnell-Read                  10000.00
Ms Jean Lambert MEP                    1800.00
Ms Jennifer  Talbot                   15000.00
Ms Joanna  Kenny                       2066.25
Ms Karin Snowden                       3300.00
Ms Kirsten Bayes                       1800.00
Ms Lesley Jackson                    100000.00
Ms Liz  Morris                         3000.00
Ms Lynne Featherstone                  1800.00
Ms Marina Smethhurst                  10000.00
Ms Mary Wane                           2200.00
Ms Nadezda Rodicheva                   8500.00
Ms Philippa  Connor                    2061.96
Ms Rachel H MacLean                    4000.00
Ms Rania K Majeed                     11750.00
Ms Ruth  Dombey                        1800.00
Professor Tim Congdon                 12500.00
Roger Michael Isherwood                2800.00
Scirard Lancelyn Green                 2400.00
Sir Michael Hintze                     2500.00
Stella Creasy                          1947.05
William  Goodhart                     20000.00
Name: Value, Length: 247, dtype: float64

In [41]:
ls

Analyse data - Complete.ipynb  Test Notebook.ipynb
Analyse data.ipynb*            donors.csv
Clean data - Complete.ipynb    results.csv*
Clean data.ipynb*              results_clean.csv

To see if it worked, you'll have to add `donors.head(10)`, otherwise your computer won't know that you actually want to see the result of your effort. :)

## Pivot tables

But Python has it's own pivot table as well. You can get a similar result in a better looking table using de `df.pivot_table` function. 

Here's a perfectly fine `.pivot_table` example:
`df.pivot_table(values="Value", index="DonorName", columns="Year", aggfunc='sum').sort_values(2018).head(10)`

Let's go over this code before running it. What will `df.pivot_table(values="Value", index="DonorName", columns="Year", aggfunc='sum').sort_values(2018).head(10)` actually do? 

For the dataframe called df, create a pivot table where: 
- the values in the pivot table should be based on the Value column
- the index of the pivot table should be base don the DonorName column, in other words: create a row for every unique value in the DonorName column
- create a new column for every unique value in the Year column
- aggregate the data that fills up these columns (from the Value column, see?) by summing it for every row. 

Are you ready to try it yourself?

In [50]:
donors2 = df.pivot_table(values="Value", index="DonorName", columns="Year", aggfunc="sum").sort_values(2017)
donors2.to_csv('donors2.csv', encoding='utf-8')

## Save your data

Now that we've put all this work into cleaning our dataset, let's save a copy. Off course Pandas has a nifty command for that too. Use `dataframe.to_csv('filename.csv', encoding='utf8')`. 

Be ware: use a different name than the filename of the original data file, or it will be overwritten.

In [51]:
donors2.to_csv('donors2.csv', encoding='utf-8')

In case you want to check if a new file was created in your directory, you can use the `pwd` and `ls` commands. At the beginning of this module, we used these commands to print the working directory (`pwd`) and list the content of the working directory (`ls`). 

First, use `pwd` to see in which folder - also known as directory - you are:

In [52]:
pwd

'/Users/learno/Desktop/pythonforjournalists'

Now use `ls` to get a list of all files in this directory. If everything worked your newly saved datafile should be among the files in the list.

In [53]:
ls

Analyse data - Complete.ipynb  donors.csv
Analyse data.ipynb*            donors2.csv
Clean data - Complete.ipynb    results.csv*
Clean data.ipynb*              results_clean.csv
Test Notebook.ipynb